{% extends "base.html" %}
{% load static %}

{% block head_title_extra %} About {% endblock %}

{% block content %}

<div class="container align-self-center">

    <div class="row site-intro-container">
        <div class="col-12 text-center p-2">
            <h1 id="about-header">About <br> Cook eBook</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center my-4">
            <h3 class="fw-bold">Site Creator:</h3>
            <p>
                mountaincharlie <br>
                Student Web Developer <br>
                [github link]
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center my-4">
            <h3 class="fw-bold">Site Purpose:</h3>
            <p>
                what the site is for...
                [check out the source code and README - project repo link]
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center my-4">
            <h3 class="fw-bold">Give Feedback:</h3>
            <p>
                Checkout my Instagram page [link]
            </p>
        </div>
    </div>

   
</div>



{% endblock %}