{% extends "base.html" %}
{% load static %}

{% block head_title_extra %} Create Recipe {% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">

    <div class="row">
        <div class="col-12 text-center p-2">
            <h1>Create Recipe</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post" enctype="multipart/form-data"> <!-- action="#" -->
                {% csrf_token %}
                {{ recipe_form | crispy }}
                <br>
                <h3>Ingredients:</h3>
                {{ ingredients_formset.management_form }}
                <div id="ingredient-list">
                    {% for form in ingredients_formset %}
                    <div class="ingredient-form">
                        {{ form |crispy }}
                    </div>
                    {% endfor %}
                </div>
                

                <!-- for additional ingredients -->
                <div id="new-ingredient-form" class="visually-hidden">
                    {{ ingredients_formset.empty_form |crispy }}
                    <button id="new-delete-ingredient-button" class="btn btn-outline-danger my-2" type="button">Delete Ingredient</button>
                </div>
                <button id="add-ingredient" class="btn btn-outline-secondary my-2" type="button">Add An Ingredient</button>

                <br>
                <h3>Method:</h3>
                {{ method_formset.management_form }}
                <div id="method-list">
                    {% for form in method_formset %}
                    <div class="method-form">
                        {{ form |crispy }}
                    </div>
                    {% endfor %}
                </div>

                <!-- for additional method steps -->
                <div id="new-method-form" class="">
                    {{ ingredients_formset.empty_form |crispy }}
                </div>
                <button id="add-method" class="btn btn-outline-secondary" type="button">Add A Step</button>

                
                <button class="btn btn-success" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>

<!-- JS for adding another Ingredent item and/or Method step -->
<!-- CREDIT for JavaScript and div structure for new forms: CodingEntrepreneurs' Youtube Video https://youtu.be/s3T-w2jhDHE adapted styling and constant names to fit the specific needs of my form -->
<script>
    // adding Ingredients with event listener on add-ingredient button

    const addIngredientBtn = document.getElementById('add-ingredient');
    // getting id_form-TOTAL_FORMS id from formset management_form to update value for each new ingredient
    const totalNewIngredients = document.getElementById('id_items-TOTAL_FORMS');

    // CUSTOM JS - empty list to add used id's too to avoid duplication after items deleted
    const usedIngredientIds = [];  

    addIngredientBtn.addEventListener('click', addIngredient);

    function addIngredient(ev){
        // preventing any potential default action
        if (ev){
            ev.preventDefault()
        }
        // CUSTOM JS - length of usedIngredientIds = next unused id which will definetly be unique
        const ingredientFormId = usedIngredientIds.length

        // getting the ingredient form list to append to
        const ingredientFormList = document.getElementById('ingredient-list');

        // getting the empty form and making a copy
        const newEmptyIngredientForm = document.getElementById('new-ingredient-form').cloneNode(true);

        // setting class for the new ingredient form to match the others
        newEmptyIngredientForm.setAttribute('class', 'ingredient-form');
        // setting unique id for new ingredient forms
        newEmptyIngredientForm.setAttribute('id', `ingredient-form-${ingredientFormId}`);

        // CUSTOM JS - getting delete button and setting id for the delete button using the numberOfIngredientForms
        newDeleteIngredientBtn = newEmptyIngredientForm.lastElementChild
        newDeleteIngredientBtn.classList.add('delete-ingredient'); 
        newDeleteIngredientBtn.setAttribute('id', `delete-ingredient-button-${ingredientFormId}`);

        usedIngredientIds.push(ingredientFormId)
        
        // using regular expression to change __prefix__ to the forms number so that the name and id for each form input will be unique as more are added
        const regexp = new RegExp('__prefix__', 'g');
        newEmptyIngredientForm.innerHTML = newEmptyIngredientForm.innerHTML.replace(regexp, ingredientFormId);
        // updating value for totalNewIngredients by 1
        totalNewIngredients.setAttribute('value', ingredientFormId + 1);
        // adding the new form to ingredientFormList
        ingredientFormList.append(newEmptyIngredientForm);

        // CUSTOM JS - deleting Ingredients with event listener on delete-ingredient buttons

        let deleteIngredientBtn = document.getElementsByClassName('delete-ingredient');
        // console.log(deleteIngredientBtn);
        // looping through the buttons to assign EventListener
        for (i in deleteIngredientBtn){
            deleteIngredientBtn[i].addEventListener("click", deleteIngredient);
        }
        function deleteIngredient(ev){
            // preventing any potential default action
            if (ev){
                ev.preventDefault()
            }
            // console.log('parent element', this.parentElement)
            this.parentElement.remove()
            // console.log('the form has been removed')
        }
    }

</script>

{% endblock %}