{% extends "base.html" %}
{% load static %}

<!-- additional content for title element -->
{% block head_title_extra %} Delete Recipe {% endblock %}

{% block content %}

<!-- container for all the content to be used with base.html main section -->
<div class="container align-self-center">

    <!-- page heading -->
    <div class="row">
        <div class="col-12 text-center p-2">
            <h1>Are you sure you want to delete {{ recipe.title }}?</h1>
        </div>
    </div>

    <!-- warning message -->
    <div class="row">
        <div class="col-12 text-center p-2">
            <h4>This action cannot be undone</h4>
        </div>
    </div>

    <!-- delete and cancel buttons -->
    <div class="row">
        <div class="col-12 text-center">
            <form method="post">
                {% csrf_token %}

                <!-- cancel button to return the user to their My eBook page without deleting the recipe -->
                <a class="btn btn-secondary" href="{% url 'my_ebook' user.username %}" role="button" aria-label="Cancel and return to my ebook button">Cancel</a>

                <!-- delete button to return the user to their My eBook page after deleting the recipe -->
                <button class="btn btn-danger" type="submit" name="confirm_delete" aria-label="Delete recipe confirmation button">Delete Recipe</button>

            </form>
        </div>
    </div>

</div>

{% endblock %}