{% extends "base.html" %}
{% load static %}

{% block head_title_extra %} Delete Recipe {% endblock %}

{% block content %}

<div class="container align-self-center">

    <div class="row">
        <div class="col-12 text-center p-2">
            <h1>Are you sure you want to delete {{ recipe.title }}?</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center p-2">
            <h4>This action cannot be undone</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <form method="post">
                {% csrf_token %}
                <a class="btn btn-secondary" href="{% url 'home' %}" role="button">Cancel</a>
                <button class="btn btn-danger" type="submit" name="confirm_delete">Delete Recipe</button>
            </form>
        </div>
    </div>

</div>

{% endblock %}