{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row site-intro-container">
        <div class="col-md-4 col-sm-12 site-intro">
            <span>DISCOVER<br>New Recipes</span>
        </div>
        <div class="col-md-4 col-sm-12 site-intro">
            <span>CREATE<br>Your Own</span>
        </div>
        <div class="col-md-4 col-sm-12 site-intro">
            <span>SHARE<br>Your Creations</span>
        </div>
    </div>
    <div class="row search-bar-container">

        <form action="{% url 'search_recipes' %}" method="get">
            {% csrf_token %}
            <input type="text" name="search" placeholder="Search Recipe">
            <button type="submit">Search</button>
        </form>

        <h1>{{ search }}</h1>
        
    </div>

    {% if recipes %}

    <!-- search results -->
    <div class="row search-result-container">

        <div class="row">
            <h1>Search results: {{ num_results }}</h1>
        </div>

        {% if num_results == 0 %}
        <div class="row">
            <p>No recipe titles contain all or part of this search</p>
        </div>

        {% else %}

        <div class="row">
        <!-- <div class="row row-cols-1 row-cols-md-3 g-4"> -->
            {% for recipe in recipes %}

            <div class="col-md-4 col-sm-12 my-4">
                <!-- creating the recipe cards -->
                <a class="recipe-card-link" href="#">
                    <div class="card h-100">
                        <!-- card cover image -->
                        {% if "placeholder" in recipe.cover_image.url %}
                            <!-- placeholder image in static dir -->
                            <!-- placeholder image credits: https://unsplash.com/photos/5O1ddenSM4g?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink -->
                            <img class="card-img" src="{% static 'images/placeholder-image.jpg' %}" alt="recipe cover image">
                        {% else %}
                            <!-- user specified image in Cloudinary -->
                            <img class="card-img" src=" {{ recipe.cover_image.url }}" alt="recipe cover image">
                        {% endif %}
                        <!-- card body info -->
                        <div class="card-body">
                            <h3 class="card-title">{{ recipe.title }}</h3>
                            {% if recipe.summary %}
                            <p class="card-text">{{ recipe.summary }}</p>
                            {% else %}
                            <p class="card-text">Open the full view to see more...</p>
                            {% endif %}
                        </div>
                        <!-- showing tags added to the recipe if any -->
                        {% if recipe.tags %}
                        <div class="card-body-tags-container">
                            {% for tag in recipe.tags.all %}
                            <span class="card-body-tags" style="border-color:{{ tag.color }}">{{ tag }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- card footer info -->
                        <div class="card-footer text-muted">
                            <p class="m-0">
                                Chef: {{ recipe.chef }} <br>
                                <!-- | <i class="fa-solid fa-hands-clapping fa-xs"></i>
                                {{ recipe.number_of_likes }}  -->
                                <small>{{ recipe.created_date }}</small>
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            {% endfor %}
        </div>
        {% endif %}

    </div>

    {% endif %}

    <div class="row tag-tiles-container">

        {% for tag in tag_list %}
            <div class="col-md-3 col-sm-6 px-4 py-4">
                
                <div class="card">
                    <div class="card-body tag-tile" style="background-color:{{ tag.color }}">
                        <p>{{ tag.tag }}</p>
                    </div>
                </div>
                
            </div>
        {% endfor %}

    </div>

</div>

{% endblock content %}