{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row site-intro-container">
        <div class="col-md-3 col-sm-1 site-intro">
            <span>FIND<br>what you fancy</span>
        </div>
        <div class="col-md-3 col-sm-1 site-intro">
            <span>CREATE<br>your own recipes</span>
        </div>
        <div class="col-md-3 col-sm-1 site-intro">
            <span>SHARE<br>your creations</span>
        </div>
    </div>
</div>

{% endblock content %}