{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row site-intro-container">
        <div class="col-md-4 col-sm-12 site-intro">
            <span>DISCOVER<br>New Recipes</span>
        </div>
        <div class="col-md-4 col-sm-12 site-intro">
            <span>CREATE<br>Your Own</span>
        </div>
        <div class="col-md-4 col-sm-12 site-intro">
            <span>SHARE<br>Your Creations</span>
        </div>
    </div>
    <div class="row search-bar-container">

        <form action="{% url 'search_recipes' %}" method="get">
            {% csrf_token %}
            <input type="text" name="search" placeholder="Search Recipe">
            <button type="submit">Search</button>
        </form>

        <h1>{{ search }}</h1>
        
    </div>

    {% if recipes %}

    <!-- search results -->
    <div class="row search-result-container">

        <div class="row">
            <h1>Search results: {{ num_results }}</h1>
        </div>

        {% if num_results == 0 %}
        <div class="row">
            <p>No recipe titles contain all or part of this search</p>
        </div>

        {% else %}

        <div class="row">
            {% for recipe in recipes %}
            <div class=".col-md-4 col-sm-12">
                {{ recipe }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>

    {% endif %}

    <div class="row tag-tiles-container">

        {% for tag in tag_list %}
            <div class="col-md-3 col-sm-6 px-4 py-4">
                
                <div class="card">
                    <div class="card-body tag-tile" style="background-color:{{ tag.color }}">
                        <p>{{ tag.tag }}</p>
                    </div>
                </div>
                
            </div>
        {% endfor %}

    </div>

</div>

{% endblock content %}