{% extends "base.html" %}
{% load static %}

{% block head_title_extra %}My eBook{% endblock %}

{% block content %}

<!-- checking that the logged in user hasn't tried to replace their username with another user's in the url itself -->
{% if user.username == authorised_user %}

<div class="container">
    <div class="row my-ebook-heading-container p-4">
        <h1>
            {{ user.username }}'
            {% if user.username|slice:"::-1"|slice:":1" != 's' %}
            s
            {% endif %}
            Cook eBook
        </h1>
    </div>

    <!-- searchbar -->
    <div class="row my-4">

        <div class="col-12 search-bar-container">
            <form action="{% url 'my_ebook_search_recipes' %}" method="get">
                {% csrf_token %}
                <input type="text" name="search" placeholder="Search Recipe Titles...">
                <button class="btn btn-outline-secondary" type="submit" aria-label="Search button">Search</button>
            </form>
        </div>

        <!--  create-recipe-btn --> 
        <div class="col-12 text-center text-md-end">
            <a class="btn btn-success m-3" href="{% url 'create_recipe' %}" role="button" aria-label="Create new recipe button">Create Recipe</a>
        </div>
        
    </div>

    <!-- search results -->
    {% if recipes %}
    <div class="row search-result-container">

        <div class="row">
            <div class="col-12 text-center">
                <h2 class="m-0">Search results: {{ num_results }}</h2>
             <a class="btn btn-outline-secondary return-link m-3" href="{% url 'my_ebook' user.username %}">Return to My eBook</a> 
            </div>
        </div>

        {% if num_results == 0 %}
        <div class="row">
            <div class="col-12 text-center">
                <p>{{ message }}</p>
            </div>
        </div>
        {% else %}

        <div class="row search-results">
        <!-- <div class="row row-cols-1 row-cols-md-3 g-4"> -->
            {% for recipe in recipes %}

            <div class="col-md-4 col-sm-12 my-4">
                <!-- creating the recipe cards -->
                <a class="recipe-card-link" href="{% url 'recipe_details' recipe.slug %}" aria-label="Link to recipe full view">
                    <div class="card h-100">
                        <!-- card cover image -->
                        {% if "placeholder" in recipe.cover_image.url %}
                            <!-- placeholder image in static dir -->
                            <!-- placeholder image credits: https://unsplash.com/photos/5O1ddenSM4g?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink -->
                            <img class="card-img" src="{% static 'images/placeholder-image.jpg' %}" alt="recipe cover image">
                        {% else %}
                            <!-- user specified image in Cloudinary -->
                            <img class="card-img" src=" {{ recipe.cover_image.url }}" alt="recipe cover image">
                        {% endif %}
                        <!-- card body info -->
                        <div class="card-body">
                            <h3 class="card-title"><strong>{{ recipe.title }}</strong></h3>
                            {% if recipe.summary %}
                            <p class="card-text">{{ recipe.summary }}</p>
                            {% else %}
                            <p class="card-text">Open the full view to see more...</p>
                            {% endif %}
                        </div>
                        <!-- showing tags added to the recipe if any -->
                        {% if recipe.tags %}
                        <div class="card-body-tags-container">
                            {% for tag in recipe.tags.all %}
                            <!-- NOTE: using inline styling since the tag color is a database value so this is not an attribute that I will ever change in the external CSS -->
                            <span class="card-body-tags" style="border-color:{{ tag.color }}">{{ tag }}</span>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <!-- card footer info -->
                        <div class="card-footer text-muted">
                            <p class="m-0">
                                Status: {{ recipe.get_public_status_display }}<br>
                                <small>{{ recipe.created_date }}</small> |
                                <small>
                                    Chefs Kisses: {{ recipe.number_of_chefs_kisses }}
                                    <i class="fa-regular fa-face-kiss-wink-heart"></i> 
                                </small>
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            {% endfor %}
        </div>
        {% endif %}

    </div>

    {% else %}

    <!-- tagtiles but smaller -->
    <div class="row tag-tiles-container justify-content-center">
        {% for tag in all_tags %}
            <div class="col-sm-2 col-6 p-1">
                <a class="tag-tile-link" href="{% url 'ebook_search_tags' tag.tag %}" role="button" aria-label="Tag search button">
                    <div class="card">
                        <!-- NOTE: using inline styling since the tag color is a database value so this is not an attribute that I will ever change in the external CSS -->
                        <div class="card-body p-2 my-ebook-tag-tile" style="background-color:{{ tag.color }}">
                            <p class="m-0">{{ tag.tag }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    {% if users_recipes %}
    <!-- user's recipes as recipe cards -->
    <div class="row">

        {% for recipe in users_recipes %}
        <div class="col-md-4 col-sm-12 my-4">
            <!-- creating the recipe cards -->
            <a class="recipe-card-link" href="{% url 'recipe_details' recipe.slug %}" aria-label="Link to recipe full view">
                <div class="card h-100">
                    <!-- card cover image -->
                    {% if "placeholder" in recipe.cover_image.url %}
                        <!-- placeholder image in static dir -->
                        <!-- placeholder image credits: https://unsplash.com/photos/5O1ddenSM4g?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink -->
                        <img class="card-img" src="{% static 'images/placeholder-image.jpg' %}" alt="recipe cover image">
                    {% else %}
                        <!-- user specified image in Cloudinary -->
                        <img class="card-img" src=" {{ recipe.cover_image.url }}" alt="recipe cover image">
                    {% endif %}
                    <!-- card body info -->
                    <div class="card-body">
                        <h3 class="card-title"><strong>{{ recipe.title }}</strong></h3>
                        {% if recipe.summary %}
                        <p class="card-text">{{ recipe.summary }}</p>
                        {% else %}
                        <p class="card-text">Open the full view to see more...</p>
                        {% endif %}
                    </div>
                    <!-- showing tags added to the recipe if any -->
                    {% if recipe.tags %}
                    <div class="card-body-tags-container">
                        {% for tag in recipe.tags.all %}
                        <!-- NOTE: using inline styling since the tag color is a database value so this is not an attribute that I will ever change in the external CSS -->
                        <span class="card-body-tags" style="border-color:{{ tag.color }}">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <!-- card footer info -->
                    <div class="card-footer text-muted">
                        <p class="m-0">
                            Status: {{ recipe.get_public_status_display }} <br>
                            <small>{{ recipe.created_date }}</small> |
                            <small>
                                Chefs Kisses: {{ recipe.number_of_chefs_kisses }}
                                <i class="fa-regular fa-face-kiss-wink-heart"></i> 
                            </small>
                        </p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>

    {% else %}
    <!-- message if the user has no recipes yet -->
    <div class="row">
        <div class="col-12">
            <p class="text-center">
                You don't currently have any recipes in your cook ebook. To make your first recipe, click the Create Recipe button.
            </p>
        </div>
    </div>
    
    {% endif %}
    {% endif %}
</div>

{% else %}

<div class="container align-self-center">
    <div class="row">
        <div class="col-12 align-middle">
            <h1 class="text-center fw-bold">This is not your eBook</h1>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}