{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <!-- cover image -->
    <div class="row cover-image-container">
        <div class="col p-0">
            {% if "placeholder" in recipe.cover_image.url %}
                <!-- placeholder image in static dir -->
                <!-- placeholder image credits: https://unsplash.com/photos/5O1ddenSM4g?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink -->
                <img src="{% static 'images/placeholder-image.jpg' %}" alt="recipe cover image">
            {% else %}
                <!-- user specified image in Cloudinary -->
                <img src=" {{ recipe.cover_image.url }}" alt="recipe cover image">
            {% endif %}
        </div>
    </div>

    <!-- title -->
    <div class="row title-container">
        <div class="col">
            <h1 class="m-0">{{ recipe.title }}</h1>
        </div>
    </div>

    <!-- Chef (right) and public status (left) -->
    <div class="row chef-and-status-container">
        <!-- 2 columns on md screens and 1 on small screens -->
        <div class="col-md-6 col-sm-12">
            <p class="m-0">Chef: {{ recipe.chef }}</p>
        </div>
        <div class="col-md-6 col-sm-12 text-md-end">
            <p class="m-0">Public Status: {{ recipe.get_public_status_display }}</p>
        </div>
    </div>

    <!-- tags -->
    <div class="row tags-container">
        <!-- 6 columns on md screens and 3 on small screens -->
        <div class="col-md-2 col-sm-4">

        </div>
    </div>

    <!-- hr - add 50% width class -->
    <hr>

    <!-- Ingredient col -->
    <!-- Method col -->
    <div class="row items-and-steps-container">
        <!-- 2 columns on md screens and 1 on small screens -->
        <div class="col-md-6 col-sm-12">

        </div>
        <div class="col-md-6 col-sm-12">

        </div>
    </div>

    <!-- edit button [interactive] -->
    <!-- delete button [interactive] -->
    <div class="row cover-image-container">
        <div class="col">

        </div>
    </div>

    <!-- Chefs kisses [interactive] -->
    <div class="row cover-image-container">
        <div class="col">
            
        </div>
    </div>

</div>




{% endblock content %}