{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <!-- cover image -->
    <div class="row cover-image-container">
        <div class="col p-0">
            {% if "placeholder" in recipe.cover_image.url %}
                <!-- placeholder image in static dir -->
                <!-- placeholder image credits: https://unsplash.com/photos/5O1ddenSM4g?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink -->
                <img src="{% static 'images/placeholder-image.jpg' %}" alt="recipe cover image">
            {% else %}
                <!-- user specified image in Cloudinary -->
                <img src=" {{ recipe.cover_image.url }}" alt="recipe cover image">
            {% endif %}
        </div>
    </div>

    <!-- title -->
    <div class="row title-container">
        <div class="col">
            <h1 class="m-0">{{ recipe.title }}</h1>
        </div>
    </div>

    <!-- Chef (right) and public status (left) -->
    <div class="row chef-and-status-container">
        <!-- 2 columns on md screens and 1 on small screens -->
        <div class="col-md-6 col-sm-12">
            <h5>Chef:</h5>
            <p class="m-0">{{ recipe.chef }}</p>
        </div>
        <div class="col-md-6 col-sm-12 text-md-end">
            <h5>Status:</h5>
            <p class="m-0">{{ recipe.get_public_status_display }}</p>
        </div>
    </div>

    <!-- tags -->
    {% if recipe.tags %}
    <div class="row">
        <div class="col tags-container">
            {% for tag in recipe.tags.all %}
                <span class="recipe-details-tags" style="border-color:{{ tag.color }}">{{ tag }}</span>
            {% endfor %}
        </div> 
    </div>
    {% endif %}

    <!-- hr - add 50% width class -->
    <hr class="small-centered-hr">

    <!-- Ingredient col -->
    <!-- Method col -->
    <div class="row my-4">
        <!-- 2 columns on md screens and 1 on small screens -->
        <div class="col-md-6 col-sm-12 recipe-list-container">
            <h4>Ingredients:</h4>
            <ul>
                {% for item in recipe.ingredients.all %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 col-sm-12 recipe-list-container">
            <h4>Method:</h4>
            <ol>
                {% for step in recipe.method.all %}
                <li>{{ step }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <!-- edit button [interactive] -->
    <!-- delete button [interactive] -->
    <div class="row cover-image-container">
        <div class="col">

        </div>
    </div>

    <!-- Chefs kisses [interactive] -->
    <div class="row cover-image-container">
        <div class="col">
            
        </div>
    </div>

</div>




{% endblock content %}